<!DOCTYPE html>
<html>
<body>
  <h1>{{title}}</h1>
  <p>{{message}}</p>
  {{#if actionUrl}}
    <a href="{{apiUrl}}/track/notifications/{{id}}/click?url={{actionUrl}}">View</a>
  {{/if}}
  <img src="{{apiUrl}}/track/notifications/{{id}}/open.gif" width="1" height="1" alt="" />
</body>
</html>